doctype html
html    
    head    
        title = "Supawit Sippasuchon"
    body 
        a(href =url , targer = "_blank")   
            h1=name
        img(src = "/art.jpg", alt= "wow" style = "width:300px;")
        h2 Intership companies
        ul 
            a(href = urlMa.link , targer = "_blank")
                li #{urlMa.name}
            a(href = url1.link , targer = "_blank")  
                li #{url1.name}
